<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <mat-toolbar color="primary" class="container-toobar">
    <mat-toolbar-row class="container-toolbar">
      <div fxFlex="50%"></div>
      <div fxFlex="480px" style="text-align: left">
        <span>Terrademo</span>
      </div>
      <div fxFlex="480px" style="text-align: right">
          <mat-slide-toggle #infra (change)="filterByTag('Infrastructure', infra)" checked="true">Infra</mat-slide-toggle>
          <mat-slide-toggle #apps (change)="filterByTag('Apps', apps)" checked="true">Apps</mat-slide-toggle>
          <mat-slide-toggle #data (change)="filterByTag('Data', data)" checked="true">Data</mat-slide-toggle>
          <button mat-flat-button (click)="downloadFile()">Submit</button>
      </div>
      <div fxFlex="50%"></div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="row">

    <div fxFlex="50%"></div>

    <div fxFlex="960px" class="container-main">

      <div class="resource-card" *ngFor="let vm of resources" [hidden]="!vm.visible">

        <div class="title" [ngClass]="vm.required || vm.selected ? 'selected' : ''">
          <mat-slide-toggle 
            *ngIf="!vm.required"
            [checked]="vm.selected" 
            (change)="vm.selected = !vm.selected"
          >{{ vm.resource.title }}</mat-slide-toggle>
          <span class="mat-slide-toggle-content" *ngIf="vm.required">{{ vm.resource.title }}</span>
          <!-- <mat-checkbox>SQL Server w/ Sample Database</mat-checkbox> -->
          <button mat-icon-button class="view-code-button" (click)="vm.showCode = !vm.showCode">
            <mat-icon>code</mat-icon>
          </button>
        </div>

        <div class="body">

          <div *ngIf="vm.resource.description">
            <div class="label">Description</div>
            <p>{{ vm.resource.description }}</p>            
          </div>

          
          <div class="label">Created by</div>
          <p>{{ vm.resource.author }}</p>
          
          <!-- <div class="label">Tags</div> -->
          <p>
            <mat-chip-list>
              <mat-chip color="primary" selected *ngFor="let tag of vm.resource.tags">{{tag}}</mat-chip>
            </mat-chip-list>
          </p>

          <pre class="code-view" *ngIf="vm.resource.content && vm.showCode">
            <code class="language-hcl">{{ '\n' + vm.resource.content.trim() }}</code>
          </pre>

        </div>
      </div>

      <router-outlet></router-outlet>

    </div>

    <div fxFlex="50%"></div>

  </div>

</div>