<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <mat-toolbar color="primary">
    <mat-toolbar-row class="container-toolbar">
      <div fxFlex="50%"></div>
      <div fxFlex="480px" style="text-align: left">
        <span>Terrademo</span>
      </div>
      <div fxFlex="480px" style="text-align: right">
          <button mat-flat-button>Submit</button>
      </div>
      <div fxFlex="50%"></div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="row">

    <div fxFlex="50%"></div>

    <div fxFlex="960px" class="container-main">

      <div class="resource-card" *ngFor="let vm of resources">
        <div class="title">
          <mat-slide-toggle 
            [checked]="vm.required || vm.selected" 
            (change)="vm.selected = !vm.selected"
            [disabled]="vm.required"
          >{{ vm.resource.title }}</mat-slide-toggle>
          <!-- <mat-checkbox>SQL Server w/ Sample Database</mat-checkbox> -->
          <button mat-icon-button class="view-code-button" (click)="vm.showCode = !vm.showCode">
            <mat-icon>code</mat-icon>
          </button>

        </div>

        <div class="body">

          <div class="label">Description</div>
          <p>{{ vm.resource.description }}</p>
          
          <div class="label">Created by</div>
          <p>{{ vm.resource.author }}</p>
          
          <!-- <div class="label">Tags</div> -->
          <!-- <p>
            <mat-chip-list>
              <mat-chip>One fish</mat-chip>
              <mat-chip>Two fish</mat-chip>
              <mat-chip color="primary" selected>Primary fish</mat-chip>
              <mat-chip color="accent" selected>Accent fish</mat-chip>
            </mat-chip-list>
          </p> -->

          <pre class="code-view" *ngIf="vm.resource.content && vm.showCode">
            <code class="language-hcl">{{ '\n' + vm.resource.content.trim() }}</code>
          </pre>

        </div>
      </div>

      <router-outlet></router-outlet>

    </div>

    <div fxFlex="50%"></div>

  </div>

</div>