#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# secret.tfvars files
**/secret*.tfvars

# storage or azurerm backend storage for state
**/state.tf

# convention for naming -out files from plan
**/*.tfplan